openapi: 3.0.4
info:
  title: Lottery Number Generator
  description: >-
    Lottery Number Generator creates random lottery numbers for various popular
    games including Powerball, Mega Millions, EuroMillions, and custom lottery
    configurations.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/lotterypicker:
    get:
      summary: Generate Lottery Numbers
      description: Generate random lottery numbers for various games
      operationId: lotterypicker
      parameters:
        - name: game
          in: query
          schema:
            type: string
          required: false
          description: Lottery game preset
          example: powerball
        - name: numbers
          in: query
          schema:
            type: integer
          required: false
          description: Number of main numbers to pick (for custom game)
          example: 6
        - name: max
          in: query
          schema:
            type: integer
          required: false
          description: Maximum number for main numbers (for custom game)
          example: 49
        - name: bonus
          in: query
          schema:
            type: integer
          required: false
          description: Number of bonus numbers (for custom game)
          example: 1
        - name: tickets
          in: query
          schema:
            type: integer
          required: false
          description: Number of tickets to generate
          example: 3
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  game: Powerball (US)
                  game_type: powerball
                  config:
                    main_numbers_count: 5
                    main_numbers_range: 1-69
                    bonus_numbers_count: 1
                    bonus_numbers_range: 1-26
                  tickets_generated: 3
                  tickets:
                    - ticket_number: 1
                      main_numbers:
                        - 11
                        - 12
                        - 51
                        - 53
                        - 58
                      bonus_numbers:
                        - 3
                    - ticket_number: 2
                      main_numbers:
                        - 4
                        - 24
                        - 28
                        - 46
                        - 61
                      bonus_numbers:
                        - 3
                    - ticket_number: 3
                      main_numbers:
                        - 12
                        - 13
                        - 29
                        - 49
                        - 60
                      bonus_numbers:
                        - 6
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
